<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <ul>
      <li>
        <%= render user %>
      </li>
    </ul>
    
  <% end %>
</div>

<%= link_to "Вернуться на главную", root_path %>
